
/* Extra Small */
@media(max-width:576px){
    nav{
        display: none;
    }
    .navBarInRes{
        display: block;
    }
    .nav-icon-5{
        display: block;
    }
    header .homburger{
        display: block;
    }
    .img-content{
        order: -1;
        margin-bottom: 3rem;
    }
    .work-info .text-content{
        text-align: center;
    }
    .product-bg,
    .process-bg{
        padding-bottom: 3rem;
    }
    .product .contents .content{    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .management .img-content{
        order: -1;
    }
    .process .process-content .right-content .last-element{
        order: -1;
    }
    .company h1{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .company .text-centent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .footer-nav > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-nav > div > ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-nav > div > form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .strat-contents .content{
        margin: 0;
        margin-top: 2rem;
    }
    html{
        font-size: 8px;
    }
}
  /* Small */
@media(min-width:576px){
    nav{
        display: none;
    }
    .navBarInRes{
        display: block;
    }
    .nav-icon-5{
        display: block;
    }
    .img-content{
        order: -1;
        margin-bottom: 3rem;
    }
    .work-info .text-content{
        text-align: center;
    }
    .product-bg,
    .process-bg{
        padding-bottom:7rem;
    }
    .product .contents .content{    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .management .img-content{
        order: -1;
    }
    .process .process-content .right-content .last-element{
        order: -1;
    }
    .company h1{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .company .text-centent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .footer-nav > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-nav > div > ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-nav > div > form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .strat-contents .content{
        margin: 0;
        margin-top: 2rem;
    }
    html{
        font-size: 10px;
    }
}
  /* medium */
@media(min-width:768px){
.img-content{
    order: 1;
    margin-bottom: 0rem;
}
.text-content{
    text-align: left;
}
.product .contents .content{    
    display: block;
    text-align: left;
}
.process .process-content .right-content .last-element{
    order: -1;
}
.company h1{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.company .text-centent{
    display: inline-block;
}    
.footer-nav > div{
    justify-content: flex-start;
}
.footer-nav > div > ul{
    display: inline-block;
}
.footer-nav > div > form{
    display: inline-block;
}
    html{
        font-size: 12px;
    }
}
  /* Large */
@media(min-width:992px){
    nav{
        display: block;
    }
    header .homburger{
        display: none;
    }
    .nav-icon-5{
        display: none;
    }
    .navBarInRes{
        display: none;
    }
    .strat-contents .content{
        margin: 1rem auto;
        margin-left: 0;
        margin-right: 2rem;
    }

    html{
        font-size: 14px;
    }
}


  /* Extra Large */
@media(min-width:1200px){
    
    
    html{
        font-size: 18px;
    }
    .process .process-content .right-content .last-element{
        order: 2;
    }
}